{% block content %}

{% load django_bootstrap5 %}

    {% for medication in medications %}
        <h2>{{medication.name}}</h2>
        <div class="table-responsive">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th scope="row">Dose Route Frequency</th>
                    <th scope="row">Classification</th>
                    <th scope="row">Intended Purpose</th>
                    <th scope="row">Implications</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-center">
                    <td style="word-wrap: break-word; min-width: 160px;max-width: 160px;">
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p>{{medication.dose}}</p>
                                <p>{{medication.route}}</p>
                                <p>{{medication.frequency}}</p>    
                            </div>
                        </div>
                    </td>
                    <td style="word-wrap: break-word; min-width: 160px;max-width: 160px;">
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p>{{medication.classification}}</p>
                            </div>
                        </div>
                    </td>
                    <td style="word-wrap: break-word; min-width: 160px;max-width: 160px;">
                        <p>{{medication.intention}}</p>
                    </td>
                    <td style="word-wrap: break-word; min-width: 160px;max-width: 160px;">
                        <p>{{medication.implications}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <hr/>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.numver }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


{% endblock content %}